<div class="col-md-10 col-md-offset-1">
    <div>
    <a [routerLink]="['/admin/']" class="btn btn-default">Volver</a>
    </div>
   </div>
   <div class="col-md-10 col-md-offset-1">
    <div class="well well bs-component">
    <form class="form-horizontal" (ngSubmit)="crearImagen(crearImagenForm.value)" #crearImagenForm="ngForm">
    <fieldset>
    <legend>Añadir nueva imagen</legend>
    <div class="form-group">
    <label for="miniatura" class="col-lg-2 control-label">Miniatura</label>
    <div class="col-lg-10">
    <input type="text" class="formcontrol" id="miniatura" name="miniatura" placeholder="Enlace de la imagen miniatura">
    </div>
    </div>
    <div class="form-group">
    <label for="enlace" class="col-lg-2 control-label">Enlace</label>
    <div class="col-lg-10">
    <input type="text" class="formcontrol" id="enlace" name="enlace" placeholder="Enlace de la imagen">
    </div>
    </div>
    <div class="form-group">
    <label for="nombre" class="col-lg-2 control-label">Nombre</label>
    <div class="col-lg-10">
    <input type="text" class="formcontrol" id="nombre" name="nombre" placeholder="Nombre">
    </div>
    </div>
    <div class="form-group">
    <label for="descripcion" class="col-lg-2 control-label">Descripción</label>
    <div class="col-lg-10">
    <textarea class="formcontrol" id="descripcion" name="descripcion" placeholder="Descripción"></textarea>
    </div>
    </div>
    <div class="form-group">
    <div class="col-lg-10 col-md-offset-2">
    <button class="btn btn-default">Cancelar</button>
    <button type="submit" class="btn btn-primary">Crear</button>
    </div>
    </div>
    </fieldset>
    </form>
    </div>
   